*
{
	margin: 0;
	padding: 0;
}
.jurassicpark
{
	height: 100vh;
	width: 100%;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}
.highway
{
	height: 200px;
	width: 500%;
	display: block;
	background-image: url(road.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 5s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translateX(-3400px);
	}
}

.jeep
{
	right: -520px;
	bottom: -110px;
	position: absolute;
	z-index: 2;
}
.jeep img
{
	height: auto;
	width: 58%;
	animation: jeep 1s linear infinite;
}
@keyframes jeep
{
	100%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(10px);
	}
	0%{
		transform: translateY(-10px);
	}
}
.wheel
{
}
.wheel img
{
	height: auto;
	width: 9%;
	animation: wheel 1s linear infinite;
}
.back-wheel
{
	right: 440px;
	bottom: 110px;
	position: absolute;
	z-index: 2;
}
.front-wheel
{
	right: 60px;
	bottom: 110px;
	position: absolute;
	z-index: 2;
}
@keyframes wheel
{
	100%{
		transform: rotate(360deg);
	}
}

.trex
{
	bottom: 150px;
	position: absolute;
	z-index: 2;
}
.trex img
{
	width: 100%;
  	height: auto;
	animation: trex 1s linear infinite;
}
@keyframes trex
{
	100%{
		transform: translateY(5px);
	}
	50%{
		transform: translateY(-5px);
	}
	0%{
		transform: translateY(5px);
	}
}

.skate-wheel
{
}

.skate-wheel img
{
	height: auto;
	width: 4%;
	animation: wheel 1s linear infinite;
}
.skate1
{
	left: 375px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
.skate2
{
	left: 425px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
.skate3
{
	left: 475px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
.skate4
{
	left: 525px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
.skate5
{
	left: 575px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
.skate6
{
	left: 625px;
	bottom: 105px;
	position: absolute;
	z-index: 2;
}
@keyframes skate-wheel
{
	100%{
		transform: rotate(360deg);
	}
}





